<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<main class="main">
  <h1>Hello, {{ title }}</h1>
  <div class="content">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="home"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/properties"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Properties</a
          >
        </li>
        <li>
          <a
            routerLink="/tenants"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Tenants</a
          >
        </li>
        <li>
          <a
            routerLink="/maintenances"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Maintenance</a
          >
        </li>
      </ul>
    </nav>
  </div>
</main>
<router-outlet />
